<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0185635 0.105947 0.0261574" rpy="1.4939 3.1169 1.54454" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0185635 0.105947 0.0261574   0.517961 0.519725 0.492962 -0.467538 wrist_3_link camera_link" />
</launch>
