<?xml version="1.0"?>
<launch>

    <rosparam command="load" file="$(find grasp_control_actions)/config/yoink.yaml" ns="yoink_as"/>
    <rosparam command="load" file="$(find grasp_control_actions)/config/radial_tracking.yaml" ns="radial_track_as"/>
    <rosparam command="load" file="$(find grasp_control_actions)/config/rest.yaml" ns="rest_as"/>
    <rosparam command="load" file="$(find grasp_control_actions)/config/place.yaml" ns="place_as"/>
    <node pkg="grasp_control_actions" type="radial_track_as.py" name="radial_track_server" output="screen">
        <remap from="/linear_error" to="/radial_track_server/linear_error"/>
        <remap from="/angular_error" to="/radial_track_server/angular_error"/>
        <remap from="/linear_velocity" to="/radial_track_server/linear_velocity"/>
        <remap from="/angular_velocity" to="/radial_track_server/angular_velocity"/>
        <remap from="/optimal_pose" to="/radial_track_server/optimal_pose"/>
    </node>
    <node pkg="grasp_control_actions" type="rest_as.py" name="rest_server" output="screen"/>
    <node pkg="grasp_control_actions" type="place_as.py" name="place_object_server" output="screen"/>
</launch>