<!-- timeout based stream to command filter for velocity command -->
<node name="twist_stream_filter" pkg="grasp_control_actions" type="twist_stream_filter.py" output="screen">
  <param name="input_topic" value="/end_effector_cmd_vel" />
  <param name="output_topic" value="/servo_server/something_else" />
  <param name="output_topic_type" value="TwistStamped" />
  <param name="timeout" value="0.05" />
  <param name="source_frame" value="base_link" />
  <param name="target_frame" value="base_link" />
</node>